.details-contact {
    width: 100%;
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px;
    align-items: center;
    justify-content: flex-start;
}

.contact-icon {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.contact-icon span {
    background-color: #ccc;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
}