.search-control {
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: #cccccc5b;
    border: 1px solid #ccc;
    padding: 0 3px;
    border-radius: 2px;
    color: black;
    margin-top: 4px;
}

.form-control {
    padding: 5px;
    height: 30px;
    font-size: 14px;
    background-color: transparent;
    outline: none;
    border: none;
}

.form-control::placeholder {
    font-size: 12px;
    font-weight: 500;
    color: black;
    opacity: .7;
}

.search-control .btn {
    height: 30px;
    padding: 5px 5px;
    font-size: 13px;
    background-color: transparent;
}

.s-btn {
    border: none;
    outline: none;
}